@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #243e63;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

.purple {
    color: #6415ff
}

h1 {
    font-size: 48px; 
    color: #1a202c;
    line-height: 1.25;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
}

.section__tag {
    font-size: 16px; 
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgba(36, 62, 99);
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

/* NAV */

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px; 
    display: flex; 
    align-items: center;
    margin: 0 auto;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--text {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    margin: 0 24px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
    text-decoration: none;
}

.nav__link:hover {
    text-decoration: underline;
}

/* HEADER */

.header__container {
    padding: 96px 0;
    display: flex;
    flex-wrap: wrap;
}

header .row {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.header__description {
    width: 40%;
}

.header__img--wrapper {
    width: 60%;
}

.header__img {
    width: 100%;
    max-width: 768px;
}

.header__description--para {
    margin: 32px 0;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
}

.header__customers--img {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
    width: 100%;
}
/* FEATURES */

.container {
    padding: 80px 0;
}

.row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row__services {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    width: calc(100% / 3);
}

.service__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px; 
}

.service__img {
    width: 24px;
    height: 24px;
}

.service__description {
    display: flex;
    flex-direction: column;
}

/* QUALITY */

.quality__container {
    padding: 80x 0;
    display: flex;
    flex-wrap: wrap;
}

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality__description {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#quality .btn {
    margin-top: 32px;
}

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
    width: 50%;
}

#quality img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* STEPS */

.step {
    display: flex;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

/* VALUES */



/* PRICING */

.plans {
    display: flex;
    flex-wrap: wrap;
}

.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan:nth-child(1) .plan__stripe, .plan:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    padding: 0 32px;
}

/* TESTIMONIALS */


/* START */

